//------------------------ Website nav open
body.main-navigation--open{
  position: fixed;
  overflow:hidden;

  .main-header__hamburger{

    .hamburger-lines{

      &__line{

        &:nth-child(1){
          transform-origin: center;
          transform:rotate(-45deg) !important;
          top:6px;
        }
        &:nth-child(2){
          transform-origin: center;
          transform:rotate(45deg) !important;
          top:6px;
        }

        @include screen(medium){
          &:nth-child(1){
            top:15px;
          }
          &:nth-child(2){
            top:15px;
          }
        }
      }
    }
  }

  .main-navigation{
    display:block;
    opacity:1;
    visibility: visible;
    z-index: 89;
  }
}

//------------------------ Product single page - products & Prices toggle sizes

.products-prices__product{

  &.opt1{
    .products-prices__product__info__container{
      &:nth-child(1){
        display:block;
      }
    }
    // Active link style
    a:nth-child(1){
      background:$bColor;
      color:white;
      border-radius:12px 0 0 12px;

      &:after{
        transform:translateY(0);
      }
    }

  }

  &.opt2{

    .products-prices__product__info__container{
      &:nth-child(2){
        display:block;
      }
    }
    // Active link style
    a:nth-child(2){
      background:$bColor;
      color:white;
      border-radius:0 12px 12px 0;

      &:after{
        transform:translateY(0);
      }
    }
  }

}
