body.page-template-about-us{
  .prd-content__desc{
    margin-top:40px;

    @include screen(medium){
      margin-top:60px;
    }
  }
}

.our-services{
  header{
    padding:50px 0 20px 0;

    h2{
      text-align: center;
      color:$bColor;
    }
  }
}

.lay-split--our-services{
  position:relative;
  height:300px;


  .image{
    top:0;
    left:0;
    height:100%;
    width:100%;
  }

  .text{
    position: absolute;
    top:50%;
    padding-left:30px;
    transform:translateY(-50%);
  }
}

@include screen(medium){

  .our-services{
    header{
      padding:80px 0 40px 0;
    }
  }


  .lay-split--our-services{
    height:60vh;
    min-height: 600px;

    .text{
      padding-left:0;
      max-width:360px;
    }

    &:nth-of-type(1){
      .text{
        right:0;
        text-align: right !important;
        margin-right:7%;
      }
    }

    &:nth-of-type(2){
      .text{
        left:0;
        text-align: left;
        margin-left:7%;
      }
    }
  }
}
