.gallery-container{
  .slider-container{
    max-width: 100%;
    margin: 0 auto;

    h1{
      color:white;
      font-size: 2em;
      position:absolute;
      bottom:-50px;
      text-align: center;
      width:80%;
    }
  }
}

@include screen(medium){
  .gallery-container{
    .slider-container{
      max-width: 80%;
    }
  }
}
