.lay-split{

  &--homepage{
    position: relative;
    height:45.4vh;
    
    // 3 col
    // height:30.2vh;
    padding-left:20px;
    overflow: hidden;

    .text{
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      width:100%;
      z-index: 2;
    }

    .image{
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index: 1;
      transform: scale(1);

      transition: all 1s ease-in-out;
    }
  }
}

@include screen(medium){

  .website-container--home{
    background: black;

    &:hover{
      .lay-split--homepage{
        // opacity:0.8;
      }
    }
  }
  .lay-split{

    &--homepage{
      position: relative;
      height:100vh;
      width:50% !important;
      // width:33.3333% !important;
      padding-left:0;

      
      
      .text{
        padding:0 2%;
        text-align: center;

        h1{
          font-size:2.4em;
          padding:0 14%;
        }
    
      }


      .image{
        opacity:0.8;
        cursor: pointer;
      }


      &:hover{
        opacity:1 !important;

        .image{
          transform: scale(1.02);
          opacity: 1;
        }
      }

    }
  }

}

@include screen(large){

  .lay-split{

    &--homepage{

      .text{

        h1{
          font-size:3.4em;
        }
      }
    }
  }
}
