.round-btn{
  height:120px;
  width:120px;
  padding:10px;
  border-radius:50%;
  border:2px solid white;
  background:rgba(0,0,0,.5);

  i{
    width:44px;
    height:44px;
    background:red;
    margin:10px auto 10px auto;
  }

  p{
    text-align: center;
    font-size: 11px;
    color:white;
    font-weight:500;
  }
}
