.footer{
  background:darken($bColor, 10%);
  padding-top:60px;

  .logo{
    max-width:130px;
    margin:0 0 40px 30px;
  }

  &__links{
    padding:0 30px;
  }

  &__copyright{
    position: relative;
    margin-top:50px;
    padding:14px 0 14px 30px;
    color:darken($bColor,20%);
    font-size:13px;

    &:before{
      content:"";
      position: absolute;
      width:20px;
      height:1px;
      top:0;
      left:30px;
      background:darken($bColor,20%);
    }
  }
}

@include screen(medium){
  .footer{

    .logo{
      max-width:160px;
      margin:0 auto 40px;
    }

    &__links{
      text-align: center;
    }

    &__copyright{
      text-align: center;
      margin:5% auto 0 auto;
      padding-left:0;

      &:before{
        left:50%;
        right:50%;
        margin-left:-10px;
      }
    }
  }
}
