a.icon-text{
  position: relative;
  display: block;
  margin-bottom:12px;

  i, p{
    display: inline-block;
  }
  p{
    font-size:14px;
    padding-left:8px;
  }
  i{
    position:relative;
    top:3px;
    left:0;
    width:18px;
    height:18px;
  }
}

@include screen(medium){
  a.icon-text{
    i{
      width:20px;
      height:20px;
      top:5px;
    }
    p{
      padding-left:7px;
      font-size: 16px;
    }
  }
}
